<!DOCTYPE html>
<html lang="en">
<script src="/js/scriptRegister.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Express Login</title>
    <link rel="stylesheet" href="/css/stylesLogin.css">
</head>

<body>
    <div id = "googleTranslateElement"></div>
    <div class="loginContainer">
        <img src="/Panda Express Photos/Panda-Express-Emblem.png" alt="Panda Express Logo" class="logo">
        <h1>Welcome Back!</h1>
        <form id="loginForm">
            <input type="text" id="username" placeholder="Enter Username" required>
            <input type="password" id="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <div>
        <a id="OAuthLogin" href="#">Login with Google</a>
    </div>

    <script src="/js/scriptLogin.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
