<!DOCTYPE html>
<html lang="en">
<script src="/js/scriptRegister.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Express Manager</title>
    <link rel="stylesheet" href="/css/stylesManager.css">
</head>

<body>
    <div class="topBar">
        <div id="googleTranslateElement"></div>
        <div class="cornerLogo">
            <img src="/Panda Express Photos/Panda-Express-Emblem.png" alt="Panda Express Logo" class="logo">
        </div>

        <div class="viewContols">
            <div class="dropdown">
                <button class="viewButtons dropdownButton" onclick="toggleDropdown()">Switch View</button>
                <div class="dropdownContent" id="dropdownMenu">
                    <a href="/register">Register View</a>
                    <a href="/kitchen">Kitchen View</a>
                    <a href="/kiosk">Kiosk View</a>
                    <a href="/menuboard">Menu Board View</a>
                    <a href="/specialboard">Seasonal Board View</a>
                </div>
            </div>
            <button class="viewButtons" onclick="window.location.href='/index'">Sign Out</button>
        </div>
    </div>

    <div class="tableContainer">

        <div class="tabs"><!--tab buttons-->
            <button class="tabLinks">Order History</button>
            <button class="tabLinks">Employees</button>
            <button class="tabLinks">Inventory</button>
            <button class="tabLinks">Menu</button>
            <button class="tabLinks">Seasonal Items</button>
            <button class="tabLinks">Restock</button>
            <button class="tabLinks">Product Usage</button>
            <button class="tabLinks">Sales</button>
            <button class="tabLinks">X Report</button>
            <button class="tabLinks">Z Report</button>
        </div>

        <div class="tabContent" id =orderHistoryDiv>
            <div>
            <label for="deleteOrderId">Delete Order by ID:</label>
            <input type="text" id="deleteOrderId" name="deleteOrderId" placeholder="Enter Order ID">
            <button id="deleteOrderButton" onclick="deleteOrder()">Delete Order</button>
            </div>
            <table id="orderHistory" border="2">
                <thead>
                    <th>Order Id</th>
                    <th>Total Cost</th>
                    <th>Date</th>
                </thead>
                <tbody>
    
                </tbody>
            </table>
        </div>

        <div id="employeesDiv" class="tabContent">
            <h3>Employees</h3>
            <button id="toggleButton" onclick="toggleView()">Manage Employees</button>
        
            <div id="employeeTable">
                <table id="employees" border="2">
                    <thead>
                        <tr>
                            <th>ID Number</th>
                            <th>Employee Name</th>
                            <th>Password</th>
                            <th>Status</th>
                            <th>Phone Number</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        
            <div id="employeeForm" style="display: none;">
                <h4>Create New Employee</h4>
        
                <label for="employeeName">Name:</label>
                <input type="text" id="employeeName" name="employeeName" placeholder="Enter employee name">
        
                <label for="employeeId">ID Number:</label>
                <input type="text" id="employeeId" name="employeeId" placeholder="Enter ID number">
        
                <label for="employeePassword">Password:</label>
                <input type="password" id="employeePassword" name="employeePassword" placeholder="Enter password">
        
                <label for="employeeStatus">Status:</label>
                <input type="text" id="employeeStatus" name="employeeStatus" placeholder="Enter status">
        
                <label for="employeePhone">Phone Number:</label>
                <input type="text" id="employeePhone" name="employeePhone" placeholder="Enter phone number">
        
                <label for="employeePosition">Position:</label>
                <input type="text" id="employeePosition" name="employeePosition" placeholder="Enter position">
        
                <button onclick="createEmployee()">Create Employee</button>
        
                <h4>Delete Employee</h4>
        
                <label for="deleteEmployeeId">ID Number:</label>
                <input type="text" id="deleteEmployeeId" name="deleteEmployeeId" placeholder="Enter ID number">
        
                <button onclick="deleteEmployee()">Delete Employee</button>
        
                <h4>Update Employee</h4>
        
                <label for="updateEmployeeId">ID Number:</label>
                <input type="text" id="updateEmployeeId" name="updateEmployeeId" placeholder="Enter ID number">
        
                <label for="updateField">Field to Update:</label>
                <input type="text" id="updateField" name="updateField" placeholder="Enter field (e.g., Position, Status)">
        
                <label for="updateValue">New Value:</label>
                <input type="text" id="updateValue" name="updateValue" placeholder="Enter new value">
        
                <button onclick="updateEmployee()">Update Employee</button>
            </div>
        </div>

        <div id="inventoryDiv" class="tabContent">
            <h3>Inventory</h3>
            <button id="toggleButtonInventory" onclick="toggleViewInventory()">Manage Inventory</button>
        
            <div id="inventoryTable">
                <table id="inventory" border="2">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Vendor</th>
                            <th>Last Shipment Date</th>
                            <th>Minimum Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        
            <div id="inventoryForm" style="display: none;">
                <h4>Add New Ingredient</h4>
        
                <label for="ingredientName">Ingredient Name:</label>
                <input type="text" id="ingredientName" name="ingredientName" placeholder="Enter ingredient name">
        
                <label for="ingredientUnit">Unit:</label>
                <input type="text" id="ingredientUnit" name="ingredientUnit" placeholder="Enter unit">
        
                <label for="ingredientQuantity">Quantity Available:</label>
                <input type="number" id="ingredientQuantity" name="ingredientQuantity" placeholder="Enter quantity">
        
                <label for="ingredientVendor">Vendor:</label>
                <input type="text" id="ingredientVendor" name="ingredientVendor" placeholder="Enter vendor">
        
                <label for="ingredientDate">Last Shipment Date:</label>
                <input type="date" id="ingredientDate" name="ingredientDate">
        
                <label for="ingredientMinQty">Minimum Quantity:</label>
                <input type="number" id="ingredientMinQty" name="ingredientMinQty" placeholder="Enter minimum quantity">
        
                <button onclick="addIngredient()">Add Ingredient</button>
        
                <h4>Delete Ingredient</h4>
        
                <label for="deleteIngredientId">Item Name:</label>
                <input type="text" id="deleteIngredientId" name="deleteIngredientId" placeholder="Enter ingredient name">
        
                <button onclick="deleteIngredient()">Delete Ingredient</button>
        
                <h4>Update Ingredient</h4>
        
                <label for="updateIngredientId">Item Name:</label>
                <input type="text" id="updateIngredientId" name="updateIngredientId" placeholder="Enter ingredient name">
        
                <label for="updateFieldIngredient">Field to Update:</label>
                <input type="text" id="updateFieldIngredient" name="updateFieldIngredient" placeholder="Enter field (e.g., Quantity, Vendor)">
        
                <label for="updateValueIngredient">New Value:</label>
                <input type="text" id="updateValueIngredient" name="updateValueIngredient" placeholder="Enter new value">
        
                <button onclick="updateIngredient()">Update Ingredient</button>
            </div>
        </div>
        

        <div id="menuitemsDiv" class="tabContent">
            <h3>Menu Items</h3>
            <div class="menuItemsControls">
                <label for="menuItemID">Item ID:</label>
                <input type="number" id="menuItemID" name="menuItemID" placeholder="Enter item ID">
        
                <label for="newPrice">New Price:</label>
                <input type="number" id="newPrice" name="newPrice" placeholder="Enter new price" step="0.01" min="0">
        
                <button id="changePriceButton" onclick="changePrice()">Change Price</button>
            </div>
        
            <table id="menuitems" border="2">
                <thead>
                    <th>Item ID</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Status</th>
                </thead>
            </table>
            <tbody>
            </tbody>
        </div>
    
        <div id="seasonalItemsDiv" class="tabContent">
            <h3>Seasonal Menu Items</h3>
            <button id="toggleButtonSeasonal" onclick="toggleViewSeasonal()">Manage Seasonal Items</button>
        
            
            <div id="seasonalTable">
                <table id="seasonalItems" border="2">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Display Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        
            
            <div id="seasonalForm" style="display: none;">
                <h4>Add New Seasonal Item</h4>
                
                <label for="seasonalItemName">Item Name:</label>
                <input type="text" id="seasonalItemName" name="seasonalItemName" placeholder="Enter item name">
                
                <label for="seasonalItemDisplayName">Display Name:</label>
                <input type="text" id="seasonalItemDisplayName" name="seasonalItemDisplayName" placeholder="Enter display name">
                
                <label for="seasonalItemType">Type:</label>
                <input type="text" id="seasonalItemType" name="seasonalItemType" placeholder="Enter item type (e.g., entree)">
                
                <h5>Enter Prices</h5>
                <label for="priceSmall">Small Price:</label>
                <input type="number" id="priceSmall" name="priceSmall" placeholder="Enter price for small" step="0.01" min="0">
                
                <label for="priceMedium">Medium Price:</label>
                <input type="number" id="priceMedium" name="priceMedium" placeholder="Enter price for medium" step="0.01" min="0">
                
                <label for="priceLarge">Large Price:</label>
                <input type="number" id="priceLarge" name="priceLarge" placeholder="Enter price for large" step="0.01" min="0">
                
                <label for="seasonalItemIngredients">Ingredients (comma-separated):</label>
                <input type="text" id="seasonalItemIngredients" name="seasonalItemIngredients" placeholder="Enter ingredients">
                
                <label for="ingredientQuantities">Quantities (comma-separated):</label>
                <input type="text" id="ingredientQuantities" name="ingredientQuantities" placeholder="Enter quantities">
                
                <button onclick="addSeasonalItem()">Add Seasonal Item</button>
                
                <h4>Remove Seasonal Item</h4>
                <label for="removeSeasonalItemName">Item Name:</label>
                <input type="text" id="removeSeasonalItemName" name="removeSeasonalItemName" placeholder="Enter item name">
                
                <button onclick="removeSeasonalItem()">Remove Seasonal Item</button>
            </div>
            
        </div>
        

        <div id="restock" class="tabContent">
            <h3>Items for Restock</h3>
            <div class="restockControls">
                <label for="restockIngredient">Restock Ingredient:</label>
                <input type="text" id="restockIngredient" name="restockIngredient" placeholder="Enter ingredient name">

                <button id="restockButton" onclick="restockIngredient()">Restock Ingredient</button>

            </div>

            <table id="restockReport" border="2">
                <thead>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Minimum Quantity</th>
                </thead>
            </table>
            <tbody>

            </tbody>

        </div>

        <div id="product-usageDiv" class="tabContent">
            <h3>Overall Product Usage</h3>
            <div class="usageControls">
                <label for="ingredient">Ingredient:</label>
                <input type="text" id="ingredient" name="ingredient" placeholder="Enter ingredient name">
            
                <label for="timeframe">Timeframe:</label>
                <select id="timeframe" name="timeframe" onchange="updateTimeframeInputs()">
                    <option value="hourly">Hourly</option>
                    <option value="daily">Daily</option>
                    <option value="monthly">Monthly</option>
                </select>
            
                <label for="dateInput">Date:</label>
                <input type="text" id="dateInput" name="dateInput" placeholder="Enter date" />
            
                <button id="salesButton" onclick="getProductUsage()">Submit</button>
            </div>
        
            <table id="product-usage" border="2">
                <thead>
                    <th>Ingredient</th>
                    <th>Total Usage</th>
                    <th>Time Period</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div id="sales" class="tabContent">
            <h3>Sales Performance</h3>
            <div class="dateFilter">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate">

                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate">

                <button id="salesButton" onclick="populateSales()">Submit</button>
            </div>
            <table id="salesReport" border="2">
                <thead>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Size</th>
                    <th>Totals Sales</th>
                    <th>Units Sold</th>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>

        <div id="xReportDiv" class="tabContent">
            <h3>X Report</h3>
            <table id="xReport" border="2">
                <thead>
                    <th>Hour</th>
                    <th>Total Sold</th>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>

        <div id="zReportDiv" class="tabContent">
            <h3>Z Report</h3>
            <table id="zReport" border="2">
                <thead>
                    <th>Hour</th>
                    <th>Total Sold</th>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>


    </div>

    <script src="/js/scriptManager.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>